body {
    background-color: rgb(217, 243, 243);
    font-family: Verdana;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


form {
    display: flex;
    justify-content: center;
}

img, #right {
    height: 400px;
    width: auto;
}

#register-btn,
#full_name,
#email,
#password {
    font-size: 14px;
}

/* LEFT */

img {
    border-radius: 20px 0 0 20px;
}

/* RIGHT */

p {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    padding: 15px 0;
}

#right {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    padding: 0 40px;
}

#right > div:nth-last-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.label-icon {
    height: 35px;
    width: 35px;
    margin: 0 10px 0 0;
}

.user-input {
    display: flex;
}

#right > div:nth-last-of-type(1) > a {
    text-decoration: none;
    color: black;
}

#right > div:nth-last-of-type(1) > a:hover {
    text-decoration: underline;
}

.fa-circle-info > svg,
span {
    height: 12px;
    width: auto;
    font-size: 12px;
}

.fa-circle-info {
    margin-right: 8px;
}

span {
    margin: 0 0 10px 45px;
    display: flex;
    align-items: center;
}